<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcom to HomePage</h1>
    <%- include("./partials/nav") %>

    <%= JSON.stringify(user) %>
    
    <%- include("./partials/script") %>
</body>
</html>